.catalog {
    height: calc(100%);
    width: calc(100% - 424px);
    background: var(--white);
    margin-left: auto;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loader{

    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}