.header {
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  background: var(--inputs);
  position: fixed;
  width: 100%;
  z-index: 20;
}
.logo{
  position: absolute;
  top: 28px;
  left: 64px;
}
.nav {
  /*flex-grow: 1;*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: var(--main);
}

.active {
  color: var(--button-hover);
}
