.header {
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  background: var(--inputs);
  position: fixed;
  width: 100%;
  z-index: 20;
}
.headerwrap {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  position: absolute;
  top: 0;
  left: 64px;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: var(--main);
}

.active {
  color: var(--button-hover);
}
