.card {
  width: 100%;
  min-height: 368px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.imgblock {
  border: none;
  border-radius: 10px;
  width: calc((100% - 24px) * 0.36);
  height: 100%;
  overflow: hidden;
}
.img {
  height: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 293/315;
}
.description {
  width: calc((100% - 24px) * 0.64);
  height: 100%;
  color: var(--main);
}

.name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}
.nametitle {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prrise_fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.descripttext {
  display: block;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
